#color-palette {
    height: 1px;
}

.color {
    float: left;
    height: 70px;
    width: 70px;
    border: 1px solid black;
}

#one {
    background-color: black;
}

#two {
    background-color: red;
}

#three {
    background-color: green;
}

#four {
    background-color: blue;
}