#color-palette {
  height: 70px;
  clear: both;
  margin-bottom: 10px;
}

.color {
  float: left;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  margin-left: 4px;
}

#one {
  background-color: black;
}

#two {
  background-color: red;
}

#three {
  background-color: green;
}

#four {
  background-color: blue;
}

#button-random-color {
  margin-left: 4px;
  margin-bottom: 10px;
  width: 300px;
}

#pixel-board {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin-top: 10px;
}

.pixel {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

