body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-family: 'VT323', monospace;
    background-color: #1B262C;
    color: #EEEEEE;
    position: relative;
    background-image: url('pixelart3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#navbar {
  background-color: #1B262C;
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#title1 {
    font-size: 80px
}

#title {
    margin-top: 65px;
    margin-left: 50px;
}

#color-palette {
  height: 70px;
  margin-bottom: 10px;
}

.color {
  float: left;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  margin-left: 4px;
}

#one {
  background-color: black;
}

#two {
  background-color: red;
}

#three {
  background-color: green;
}

#four {
  background-color: blue;
}

#button-random-color {
  margin-left: 4px;
  margin-bottom: 10px;
  width: 300px;
}

#pixel-board {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin-top: 10px;
    margin-left: 50px;
    border: 1px solid black;
}

.pixel {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}


