#color-palette {
  height: 1px;
}

.color {
  float: left;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  margin-left: 4px;
}

#one {
  background-color: black;
}

#two {
  background-color: red;
}

#three {
  background-color: green;
}

#four {
  background-color: blue;
}

#button-random-color {
  margin-left: 10px;
}
