body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: VT323, monospace;
  background-color: #1b262c;
  color: #eee;
  position: relative;
  background-image: url('./assets/pixelart3.jpg');
  background-repeat: no-repeat;
}

#navbar {
  background-color: #1b262c;
  width: 100%;
  display: flex;
  align-items: center;
}

#heart {
  width: 40px;
  height: 30px;
}


.navtitle {
  display: flex;
  margin-left: 10px;
  color: #bbe1fa;
  font-size: 26px;
  text-decoration: none;
}


#author {
  margin-left: auto;
  margin-right: 10px;
  font-weight: 400;
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#title1 {
  font-size: 80px;
  font-weight: 100;
}


#title {
  font-size: 2rem;
  margin-top: 35px;
  font-weight: 400;
}


.button-style {
  font-size: 21px;
  font-family: VT323, monospace;
  background-color: #1b262c;
  color: #eee;
}


#color-palette {
  height: 70px;
  margin-bottom: 10px;
}


.color {
  float: left;
  height: 70px;
  width: 70px;
  border: 1px solid black;
  margin-left: 6px;
}


#one {
  background-color: black;
}

#two {
  background-color: red;
}

#three {
  background-color: green;
}


#four {
  background-color: blue;
}


#board-resizer {
  display: flex;
}

#board-size {
  margin-left: 5px;
  width: 60px;
}

#button-random-color {
  width: 19.5rem;
}

.secondary-buttons {
  margin-top: 0.75rem;
  display: flex;
  gap: 0.5rem;
}

#content {
  flex-direction: column;
  align-items: center;
}

.board-container {
  width: fit-content;
  border: 4px solid black;
  margin: 3rem;
  margin-top: 1.5rem;
}

#pixel-board {
  display: grid;
}


.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white;
  justify-self: center;
}

@media ( max-width : 767px ) {

  #navbar {
    padding-top: 0.75rem;
    flex-direction: column;
  }

  .navtitle {
    text-wrap: nowrap;
    font-size: 2rem;
  }

  #author {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #board-resizer {
    margin: 0;
  }
}
